.portfolioMakeup-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#portfolioMakeup {
  margin: 10px;
}

.pieChart{
  width: 100%;
  height: auto;

}

.legend-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  font-size: large;
  border-top: 1px solid black;
}

.legend-item{
  margin: 15px;
}
