.postContainer{
display: flex;
/* justify-content: flex-end; */
flex-flow: row wrap;
justify-content: space-evenly;
}

.singlePost{
  width: 25%;
  height: auto;
  margin: 10px;
  display: grid;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 .5px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
  border: none;
}

.postsList{

}

.postElement{
width: 80%;
background-color:none;
}
.tradeButton{
  width: 20%;
  min-width: 55px;
}
