.newPost-Container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container{
  /* width: ; */
  height: auto;
  border: 1px solid black;
  padding: 10px;
  padding-right: 15px;

}

.form-element{
  margin-bottom: 10px;
}

.form-button{
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  color: #018ffe;
  font-weight: 800;
}
