.navbar-container{
  height: 20%;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 15% auto 15%;
  /* grid-template-rows: 10%; */
  grid-template-areas:
  "l . forms";
  border-bottom: 1px solid ;
}

.logo--img{
width: 100%;
height: auto;
}

.logo{
  grid-area: l;
}

.forms{
  grid-area: forms;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.userForms{
  padding: 3px;
  margin: 1px;
}

.authBubble{
  text-decoration: none;
  color: #018ffe;
  font-weight: 800;
  cursor: pointer;
}
.authBubble:active{
  color: black;
}
