.tradeHistory-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.tradeHistory{
margin: 10px;
}

.historicalTrades{
  margin-bottom: 15vh;
  /* overflow-y: scroll; */

}
