.title-container{
  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* left: 50%; */
}
.dashboardTitle{
 margin: 2px;
}

.dashboard-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
  'searchBar searchBar'
  'trades portfolio'
  ;
}

.formContainer{
  margin-bottom: 70px;
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.searchBar{
  margin: 10px;
  margin-bottom: 25px;
  grid-column: 1/3;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.historicalTrades{
  grid-area: trades;
  border-top: 1px solid black;

}

.portfolioAllocation{
  grid-area: portfolio;
  border-left: 1px solid black;
  border-top: 1px solid black;

}

.buySellButtonContainer{
  display: flex;
  flex-direction: row;
}

.button{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.button:hover{
  cursor: pointer;
}

.buyButton{
  color: white;
  background-color: green;
}

.sellButton{
  color: white;
  background-color: red;
}
