.dashboard-container{
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 80%;
  grid-template-areas:
  'searchBar .'
  'trades portfolio'
  ;
}

.searchBar{
  grid-area: searchBar;
  margin: 10px;
}

.historicalTrades{
  grid-area: trades;

}

.portfolioAllocation{
  grid-area: portfolio;

}

.buySellButtonContainer{
  display: flex;
  flex-direction: row;
}

.buyButton{
  color: green;
}
.sellButton{
  color: red;

}
