.title-container{
  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* left: 50%; */
}

.dashboardTitle{
 margin: 2px;
}

.dashboard-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  grid-template-areas:
  'searchBar searchBar'
  'trades portfolio'
  ;
}

.formContainer{
  /* margin-bottom: 70px; */
  height: auto;
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.searchBar{
  margin: 10px;
  margin-bottom: 25px;
  grid-column: 1/3;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.historicalTrades{
  grid-area: trades;
  /* border-top: 1px solid black; */
  /* margin-top: auto; */
  box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
}

.loginLink{
margin-top: auto;
grid-column: 1/3;
}

.loginLink-link{
  text-decoration: none;

}


.portfolioAllocation{
  grid-area: portfolio;

  /* border-left: 1px solid black;
  border-top: 1px solid black; */
  box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);}



  .buySellButtonContainer{
  display: flex;
  flex-direction: row;
}

.button{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.button:hover{
  cursor: pointer;
}

.buyButton{
  color: white;
  background-color: green;
}

.sellButton{
  color: white;
  background-color: red;
}
