/* TODO Add site wide styles */
@import-normalize;
* {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f6f9fc; */
}

body{
  margin: 0px;
}
.app-container{
  position: relative;
  min-height: 100vh;
}
